<a href="https://colab.research.google.com/github/anarchy373/BTECH-Python-Projects/blob/main/module_2_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('imdb_movies.csv')

In [ ]:
df.head()

,Unnamed: 0,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
1,1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0

In [ ]:
# Question 1: What is the average runtime for movies in the data set? Round to two decimal places.

round(df['Runtime'].mean(), 2)

122.89

In [ ]:
# Question 2: How long would it take you to watch all movies, in hours? Round to two decimal places.

round((df['Runtime'].sum() / 60), 2)

2048.18

In [ ]:
# Question 3: What is the median meta score of movies in the data set?

df['Meta_score'].median()

79.0

In [ ]:
# Question 4: Which genre has the most titles in the data set?

dfg = df[['Series_Title', 'Genre']]
dfg = dfg.groupby(['Genre']).count()
dfg = dfg.sort_values(by='Series_Title', ascending=False)
print(dfg)

                           Series_Title
Genre
Drama                                85
Drama, Romance                       37
Comedy, Drama                        35
Comedy, Drama, Romance               31
Action, Crime, Drama                 30
...                                 ...
Action, Crime, Mystery                1
Crime, Drama, Sci-Fi                  1
Animation, Crime, Mystery             1
Animation, Drama, Romance             1
Crime, Drama, Horror                  1

[202 rows x 1 columns]

In [ ]:
# Question 5: How many different directors appear in the data set?

df['Director'].nunique()

548

In [ ]:
# Question 6: Which actor appeared the most times in the Star1 column?

dfs = df[['Star1', 'Series_Title']]
dfs = dfs.groupby(['Star1']).count()
dfs = dfs.sort_values(by= 'Series_Title', ascending = False)
print(dfs)

                    Series_Title
Star1
Tom Hanks                     12
Robert De Niro                11
Clint Eastwood                10
Al Pacino                     10
Leonardo DiCaprio              9
...                          ...
Glen Hansard                   1
Giuseppe Battiston             1
Giulietta Masina               1
Gerardo Taracena               1
Ömer Faruk Sorak               1

[660 rows x 1 columns]

In [ ]:
# Question 7: In which year was the oldest movie released?

df[['Released_Year']].min()

Released_Year    1920
dtype: object

In [ ]:
# Question 8: Which movie has the highest Gross (money made)? You can sort the data to figure this out.

dfs = df[['Gross', 'Series_Title']]
dfs = dfs.sort_values(by= 'Gross', ascending = False)
print(dfs)

           Gross                                Series_Title
477  936662225.0  Star Wars: Episode VII - The Force Awakens
59   858373000.0                           Avengers: Endgame
623  760507625.0                                      Avatar
60   678815482.0                      Avengers: Infinity War
652  659325379.0                                     Titanic
..           ...                                         ...
993          NaN                                      Blowup
995          NaN                      Breakfast at Tiffany's
996          NaN                                       Giant
998          NaN                                    Lifeboat
999          NaN                                The 39 Steps

[1000 rows x 2 columns]

In [ ]:
# Question 9: Which movie got the most votes?

dfs = df[['No_of_Votes', 'Series_Title']]
dfs = dfs.sort_values(by= 'No_of_Votes', ascending = False)
print(dfs)

     No_of_Votes                       Series_Title
0        2343110           The Shawshank Redemption
2        2303232                    The Dark Knight
8        2067042                          Inception
9        1854740                         Fight Club
6        1826188                       Pulp Fiction
..           ...                                ...
570        25344                              Raazi
718        25312  Scarface: The Shame of the Nation
694        25229                 La planète sauvage
721        25198                  God's Own Country
264        25088                     Ba wang bie ji

[1000 rows x 2 columns]

In [ ]:
# Question 10: Which movie had the best IMDb Rating?

dfs = df[['IMDB_Rating', 'Series_Title']]
dfs = dfs.sort_values(by= 'IMDB_Rating', ascending = False)
print(dfs)

     IMDB_Rating              Series_Title
0            9.3  The Shawshank Redemption
1            9.2             The Godfather
2            9.0           The Dark Knight
3            9.0    The Godfather: Part II
4            9.0              12 Angry Men
..           ...                       ...
912          7.6                Zombieland
911          7.6        La piel que habito
910          7.6                 Moneyball
909          7.6                 Celda 211
999          7.6              The 39 Steps

[1000 rows x 2 columns]

In [ ]:
# Question 11: Which year had the most movie titles?

dfs = df[['Released_Year', 'Series_Title']]
dfs = dfs.groupby(['Released_Year']).count()
dfs = dfs.sort_values(by= 'Series_Title', ascending = False)
print(dfs)

               Series_Title
Released_Year
2014                     32
2004                     31
2009                     29
2016                     28
2013                     28
...                     ...
1930                      1
1926                      1
1924                      1
1922                      1
PG                        1

[100 rows x 1 columns]

In [ ]:
# Question 12: True or False? The average gross across all movies is $68,034,750.87.

df['Gross'].sum()

56536877976.0

In [ ]:
# Question 13: What is the median gross across all movies?

df['Gross'].median()

23530892.0

In [ ]:
# Question 14: Is the gross profit from the movies in this data set right skewed, left skewed, or not skewed at all?

gp_median = df['Gross'].median()
gp_mean = df['Gross'].mean()
print(gp_median, '  ', gp_mean)

23530892.0    68034750.87364621

In [ ]:
# Question 15: Create a new column called 'Gross Per Minute' that is created by dividing the gross money by the total runtime.
# The new column should show how much money each movie made per minute.
# Which movie made the most gross profit per minute?

df['Gross Per Minute'] = (df['Gross'] / df['Runtime'])
dfs = df.sort_values(by= 'Gross Per Minute', ascending = False)
print(dfs)

     Unnamed: 0                                        Poster_Link  \
477         477  https://m.media-amazon.com/images/M/MV5BOTAzOD...
891         891  https://m.media-amazon.com/images/M/MV5BMTEzNz...
43           43  https://m.media-amazon.com/images/M/MV5BYTYxNG...
59           59  https://m.media-amazon.com/images/M/MV5BMTc5MD...
623         623  https://m.media-amazon.com/images/M/MV5BMTYwOT...
..          ...                                                ...
993         993  https://m.media-amazon.com/images/M/MV5BYTE4YW...
995         995  https://m.media-amazon.com/images/M/MV5BNGEwMT...
996         996  https://m.media-amazon.com/images/M/MV5BODk3Yj...
998         998  https://m.media-amazon.com/images/M/MV5BZTBmMj...
999         999  https://m.media-amazon.com/images/M/MV5BMTY5OD...

                                   Series_Title Released_Year Certificate  \
477  Star Wars: Episode VII - The Force Awakens          2015           U
891                               Incredibles 2          2018          UA
43                                The Lion King          1994           U
59                            Avengers: Endgame          2019          UA
623                                      Avatar          2009          UA
..                                          ...           ...         ...
993                                      Blowup          1966           A
995                      Breakfast at Tiffany's          1961           A
996                                       Giant          1956           G
998                                    Lifeboat          1944         NaN
999                                The 39 Steps          1935         NaN

     Runtime                         Genre  IMDB_Rating  \
477      138     Action, Adventure, Sci-Fi          7.9
891      118  Animation, Action, Adventure          7.6
43        88   Animation, Adventure, Drama          8.5
59       181      Action, Adventure, Drama          8.4
623      162    Action, Adventure, Fantasy          7.8
..       ...                           ...          ...
993      111      Drama, Mystery, Thriller          7.6
995      115        Comedy, Drama, Romance          7.6
996      201                Drama, Western          7.6
998       97                    Drama, War          7.6
999       86      Crime, Mystery, Thriller          7.6

                                              Overview  Meta_score  \
477  As a new threat to the galaxy rises, Rey, a de...        80.0
891  The Incredibles family takes on a new mission ...        80.0
43   Lion prince Simba and his father are targeted ...        88.0
59   After the devastating events of Avengers: Infi...        78.0
623  A paraplegic Marine dispatched to the moon Pan...        83.0
..                                                 ...         ...
993  A fashion photographer unknowingly captures a ...        82.0
995  A young New York socialite becomes interested ...        76.0
996  Sprawling epic covering the life of a Texas ca...        84.0
998  Several survivors of a torpedoed merchant ship...        78.0
999  A man in London tries to help a counter-espion...        93.0

                   Director              Star1              Star2  \
477             J.J. Abrams       Daisy Ridley        John Boyega
891               Brad Bird    Craig T. Nelson       Holly Hunter
43             Roger Allers        Rob Minkoff  Matthew Broderick
59            Anthony Russo          Joe Russo  Robert Downey Jr.
623           James Cameron    Sam Worthington        Zoe Saldana
..                      ...                ...                ...
993  Michelangelo Antonioni     David Hemmings   Vanessa Redgrave
995           Blake Edwards     Audrey Hepburn     George Peppard
996          George Stevens   Elizabeth Taylor        Rock Hudson
998        Alfred Hitchcock  Tallulah Bankhead        John Hodiak
999        Alfred Hitchcock       Robert Donat  Madeleine Carroll

                Star3               Star4  No_of_Votes        Gross  \
477       Oscar Isaac    Domhnall Gleeson       860823  936662225.0
891      Sarah Vowell         Huck Milner       250057  608581744.0
43       Jeremy Irons    James Earl Jones       942045  422783777.0
59        Chris Evans        Mark Ruffalo       809955  858373000.0
623  Sigourney Weaver  Michelle Rodriguez      1118998  760507625.0
..                ...                 ...          ...          ...
993       Sarah Miles         John Castle        56513          NaN
995     Patricia Neal         Buddy Ebsen       166544          NaN
996        James Dean       Carroll Baker        34075          NaN
998     Walter Slezak      William Bendix        26471          NaN
999    Lucie Mannheim      Godfrey Tearle        51853          NaN

     Gross Per Minute
477      6.787407e+06
891      5.157472e+06
43       4.804361e+06
59       4.742392e+06
623      4.694492e+06
..                ...
993               NaN
995               NaN
996               NaN
998               NaN
999               NaN

[1000 rows x 18 columns]