<a href="https://colab.research.google.com/github/anarchy373/BTECH-Python-Projects/blob/main/Python_Module_5_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def print_name_and_message(message):
    my_name = "Gregg"
    print(f"{my_name}: {message}")

user_message = "Hello, world!"
print_name_and_message(user_message)

Gregg: Hello, world!

In [ ]:
def add_and_check_even_or_odd(number1, number2):
    # Calculate the sum of the two numbers
    result = number1 + number2

    # Check if the result is even or odd
    if result % 2 == 0:
        print(f"The sum {result} is even.")
    else:
        print(f"The sum {result} is odd.")

# Example usage:
num1 = 5
num2 = 7
add_and_check_even_or_odd(num1, num2)

The sum 12 is even.

In [ ]:
def add_and_check_even_or_odd(number1, number2):
    # Calculate the sum of the two numbers
    result = number1 + number2

    # Check if the result is even or odd
    if result % 2 == 0:
        print(f"The sum {result} is even.")
    else:
        print(f"The sum {result} is odd.")

# Example usage:
num1 = -43
num2 = 81
add_and_check_even_or_odd(num1, num2)

The sum 38 is even.

In [ ]:
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

fahrenheit_temperature = 68
celsius_temperature = fahrenheit_to_celsius(fahrenheit_temperature)
print(f"{fahrenheit_temperature} degrees Fahrenheit is equal to {celsius_temperature:.2f} degrees Celsius.")

In [ ]:
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

fahrenheit_temperature = 63
celsius_temperature = fahrenheit_to_celsius(fahrenheit_temperature)
print(f"{fahrenheit_temperature} degrees Fahrenheit is equal to {celsius_temperature:.2f} degrees Celsius.")

63 degrees Fahrenheit is equal to 17.22 degrees Celsius.

In [ ]:
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

year_to_check = 2024
if is_leap_year(year_to_check):
    print(f"{year_to_check} is a leap year.")
else:
    print(f"{year_to_check} is not a leap year.")

In [ ]:
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

year_to_check = 2032
if is_leap_year(year_to_check):
    print(f"{year_to_check} is a leap year.")
else:
    print(f"{year_to_check} is not a leap year.")

2032 is a leap year.

In [ ]:
def determine_zodiac_sign(year):
    # Calculate the zodiac sign based on the provided formula
    zodiac_number = (year - 1900) % 12

    # Define a dictionary to map zodiac numbers to their respective signs
    zodiac_signs = {
        0: "Rat",
        1: "Ox",
        2: "Tiger",
        3: "Rabbit",
        4: "Dragon",
        5: "Snake",
        6: "Horse",
        7: "Goat",
        8: "Monkey",
        9: "Rooster",
        10: "Dog",
        11: "Pig"
    }

    # Check if the zodiac_number is a valid key in the dictionary
    if zodiac_number in zodiac_signs:
        zodiac_sign = zodiac_signs[zodiac_number]
        print(f"The zodiac sign for the year {year} is {zodiac_sign}.")
    else:
        print(f"Invalid year: {year}")

year_to_check = 2022
determine_zodiac_sign(year_to_check)

In [ ]:
def determine_zodiac_sign(year):
    # Calculate the zodiac sign based on the provided formula
    zodiac_number = (year - 1900) % 12

    # Define a dictionary to map zodiac numbers to their respective signs
    zodiac_signs = {
        0: "Rat",
        1: "Ox",
        2: "Tiger",
        3: "Rabbit",
        4: "Dragon",
        5: "Snake",
        6: "Horse",
        7: "Goat",
        8: "Monkey",
        9: "Rooster",
        10: "Dog",
        11: "Pig"
    }

    # Check if the zodiac_number is a valid key in the dictionary
    if zodiac_number in zodiac_signs:
        zodiac_sign = zodiac_signs[zodiac_number]
        print(f"The zodiac sign for the year {year} is {zodiac_sign}.")
    else:
        print(f"Invalid year: {year}")

year_to_check = 2073
determine_zodiac_sign(year_to_check)

The zodiac sign for the year 2073 is Snake.

In [ ]:
import pandas as pd
df = pd.read_csv('senator_tweets.csv')

In [ ]:
df.head()

,Unnamed: 0,created_at,text,url,replies,retweets,favorites,user,bioguide_id,party,state
0,0,10/19/2017 21:47,We released bipartisan healthcare bill today &...,https://twitter.com/amyklobuchar/status/921130...,21,129,533,amyklobuchar,K000367,D,MN
1,1,10/19/2017 18:48,I spoke with @Morning_Joe team abt #HonestAds ...,https://twitter.com/amyklobuchar/status/921085...,8,46,150,amyklobuchar,K000367,D,MN
2,2,10/19/2017 18:14,Lots of interest in my bill with Senators Warn...,https://twitter.com/amyklobuchar/status/921077...,36,227,932,amyklobuchar,K000367,D,MN
3,3,10/19/2017 18:04,"Today's the day @MarkWarner, @SenJohnMcCain &a...",https://twitter.com/amyklobuchar/status/921074...,17,167,550,amyklobuchar,K000367,D,MN
4,4,10/19/2017 16:33,".@MarkWarner, @SenJohnMcCain &amp; I put toget...",https://twitter.com/amyklobuchar/status/921051...,31,279,893,amyklobuchar,K000367,D,MN

In [ ]:
# Add a new column 'CharCount' that counts the number of characters in each tweet
df['CharCount'] = df['text'].apply(len)

# Display the updated dataset
print(df)

        Unnamed: 0        created_at  \
0                0  10/19/2017 21:47
1                1  10/19/2017 18:48
2                2  10/19/2017 18:14
3                3  10/19/2017 18:04
4                4  10/19/2017 16:33
...            ...               ...
288610      288610   7/28/2015 15:33
288611      288611   7/28/2015 15:32
288612      288612   7/27/2015 17:34
288613      288613   7/27/2015 17:30
288614      288614   7/26/2015 17:15

                                                     text  \
0       We released bipartisan healthcare bill today &...
1       I spoke with @Morning_Joe team abt #HonestAds ...
2       Lots of interest in my bill with Senators Warn...
3       Today's the day @MarkWarner, @SenJohnMcCain &a...
4       .@MarkWarner, @SenJohnMcCain &amp; I put toget...
...                                                   ...
288610  Such a zone would allow the flow of unfettered...
288611  I welcome greater cooperation between the U.S....
288612  Educacií_n sobre la prevencií_n del abuso sexu...
288613  Education on sexual assault prevention should ...
288614  25 years since passage, the ADA has helped ens...

                                                      url  replies  retweets  \
0       https://twitter.com/amyklobuchar/status/921130...       21       129
1       https://twitter.com/amyklobuchar/status/921085...        8        46
2       https://twitter.com/amyklobuchar/status/921077...       36       227
3       https://twitter.com/amyklobuchar/status/921074...       17       167
4       https://twitter.com/amyklobuchar/status/921051...       31       279
...                                                   ...      ...       ...
288610  https://twitter.com/timkaine/status/6260527578...        0         4
288611  https://twitter.com/timkaine/status/6260526304...        2         7
288612  https://twitter.com/timkaine/status/6257210135...        0         1
288613  https://twitter.com/timkaine/status/6257198751...        4         5
288614  https://twitter.com/timkaine/status/6253537947...        1        13

        favorites          user bioguide_id party state  CharCount
0             533  amyklobuchar     K000367     D    MN        112
1             150  amyklobuchar     K000367     D    MN        143
2             932  amyklobuchar     K000367     D    MN        116
3             550  amyklobuchar     K000367     D    MN        150
4             893  amyklobuchar     K000367     D    MN        141
...           ...           ...         ...   ...   ...        ...
288610          1      timkaine     K000384     D    VA        143
288611          2      timkaine     K000384     D    VA        139
288612          0      timkaine     K000384     D    VA        142
288613          1      timkaine     K000384     D    VA        136
288614         17      timkaine     K000384     D    VA        137

[288615 rows x 12 columns]

In [ ]:
# Calculate the correlation coefficients
correlation = df[['CharCount', 'replies', 'retweets', 'favorites']].corr()

# Display the correlation matrix
print(correlation)

           CharCount   replies  retweets  favorites
CharCount   1.000000  0.005934 -0.000689   0.005640
replies     0.005934  1.000000  0.400122   0.589235
retweets   -0.000689  0.400122  1.000000   0.594522
favorites   0.005640  0.589235  0.594522   1.000000

In [ ]:
# Sort the dataset by 'CharCount' in ascending order
sorted_df = df.sort_values(by='CharCount')

# Get the shortest tweet (first row after sorting)
shortest_tweet = sorted_df.iloc[0]['text']

# Display the shortest tweet
print("The shortest tweet is:", shortest_tweet)

The shortest tweet is: M

In [ ]:
# Filter tweets that include the word "immigration"
immigration_tweets = df[df['text'].str.contains('immigration', case=False)]

# Count the number of immigration tweets
num_immigration_tweets = immigration_tweets.shape[0]

# Display the filtered tweets and the count
print("Tweets that include the word 'immigration':")
print(immigration_tweets)
print("\nNumber of immigration tweets:", num_immigration_tweets)

Tweets that include the word 'immigration':
        Unnamed: 0       created_at  \
57              57  10/9/2017 16:43
938            938   2/9/2017 23:39
992            992  1/28/2017 15:41
1057          1057  1/10/2017 18:23
1586          1586   9/1/2016 12:38
...            ...              ...
287161      287161  8/23/2016 21:13
287375      287375  6/23/2016 16:36
287376      287376  6/23/2016 16:36
288321      288321  10/7/2015 14:34
288323      288323  10/6/2015 21:10

                                                     text  \
57      Adminäó»s immigration plan is a step in the wr...
938     Breaking: Federal appeals court maintains susp...
992     This is outrageous!  Share it &amp; speak out....
1057    Asked nominee Sessions today about voting righ...
1586    Check this out: AP FACT CHECK: Trump on immigr...
...                                                   ...
287161  Hillary &amp; I will introduce comprehensive i...
287375  While Congress continues to refuse to fix a br...
287376  #SCOTUS immigration ruling on #DACA &amp; #DAP...
288321  Headed to address @CHCI #immigration summit! #...
288323  Excited to join @CHCI tomorrow to discuss #DAC...

                                                      url  replies  retweets  \
57      https://twitter.com/amyklobuchar/status/917430...       41        96
938     https://twitter.com/amyklobuchar/status/829837...       30       127
992     https://twitter.com/amyklobuchar/status/825368...      109       646
1057    https://twitter.com/amyklobuchar/status/818886...      448       145
1586    https://twitter.com/amyklobuchar/status/771326...        3        27
...                                                   ...      ...       ...
287161  https://twitter.com/timkaine/status/7681944665...       89       873
287375  https://twitter.com/timkaine/status/7460192102...       11        47
287376  https://twitter.com/timkaine/status/7460191129...       14        42
288321  https://twitter.com/timkaine/status/6517674756...        1         5
288323  https://twitter.com/timkaine/status/6515048382...        1         8

        favorites          user bioguide_id party state  CharCount
57            409  amyklobuchar     K000367     D    MN        144
938           782  amyklobuchar     K000367     D    MN        107
992           796  amyklobuchar     K000367     D    MN        142
1057          683  amyklobuchar     K000367     D    MN        142
1586           39  amyklobuchar     K000367     D    MN         75
...           ...           ...         ...   ...   ...        ...
287161       1815      timkaine     K000384     D    VA        144
287375        122      timkaine     K000384     D    VA        137
287376         79      timkaine     K000384     D    VA        141
288321          4      timkaine     K000384     D    VA         59
288323          6      timkaine     K000384     D    VA        109

[1532 rows x 12 columns]

Number of immigration tweets: 1532

In [ ]:
# Filter tweets that include the word "Canada"
canada_tweets = df[df['text'].str.contains('Canada', case=False)]

# Count the number of Canada tweets
num_canada_tweets = canada_tweets.shape[0]

# Display the filtered tweets and the count
print("Tweets that include the word 'Canada':")
print(canada_tweets)
print("\nNumber of Canada tweets:", num_canada_tweets)

Tweets that include the word 'Canada':
        Unnamed: 0        created_at  \
21              21  10/16/2017 21:59
241            241    8/5/2017 13:06
337            337    7/5/2017 19:17
350            350     7/2/2017 0:44
658            658   4/14/2017 19:49
...            ...               ...
284618      284618   11/4/2015 21:50
284619      284619   11/4/2015 21:48
284637      284637    11/3/2015 1:44
284979      284979   8/24/2015 21:24
286562      286562    2/2/2017 15:55

                                                     text  \
21      POTUS says drug cos getting away w/ "murder." ...
241     Was in Little Canada, MN recently. My bill w @...
337     In Baudette meeting on tourism &amp; jobs w/La...
350     Wishing our northern neighbor a happy #CanadaD...
658     Led effort w Rep. Peterson, @RepTimWalz &amp; ...
...                                                   ...
284618  My statement on @StateDept rejecting TransCana...
284619  .@StateDept rejecting TransCanada's request to...
284637  My statement on TransCanadaäó»s decision to su...
284979  RT @MarcyGrossman: With @SteveDaines &amp; Mic...
286562  ExxonMobil fought to stop passage of anti-corr...

                                                      url  replies  retweets  \
21      https://twitter.com/amyklobuchar/status/920046...       36       288
241     https://twitter.com/amyklobuchar/status/893820...      163      1190
337     https://twitter.com/amyklobuchar/status/882679...        3        34
350     https://twitter.com/amyklobuchar/status/881312...       11        97
658     https://twitter.com/amyklobuchar/status/852972...        9        30
...                                                   ...      ...       ...
284618  https://twitter.com/SteveDaines/status/6620242...        1         2
284619  https://twitter.com/SteveDaines/status/6620236...        2         5
284637  https://twitter.com/SteveDaines/status/6613582...        1        10
284979  https://twitter.com/SteveDaines/status/6359256...        0         2
286562  https://twitter.com/timkaine/status/8271836909...       70       812

        favorites          user bioguide_id party state  CharCount
21           1139  amyklobuchar     K000367     D    MN        137
241          4169  amyklobuchar     K000367     D    MN        142
337           175  amyklobuchar     K000367     D    MN        139
350           607  amyklobuchar     K000367     D    MN        101
658           114  amyklobuchar     K000367     D    MN        140
...           ...           ...         ...   ...   ...        ...
284618          0   SteveDaines     D000618     R    MT        135
284619          2   SteveDaines     D000618     R    MT        140
284637          3   SteveDaines     D000618     R    MT        106
284979          5   SteveDaines     D000618     R    MT        128
286562       1954      timkaine     K000384     D    VA        129

[228 rows x 12 columns]

Number of Canada tweets: 228

In [ ]:
# Convert the 'Date' column to datetime format
df['created_at'] = pd.to_datetime(df['created_at'])

# Filter tweets sent in 2010
tweets_2010 = df[df['created_at'].dt.year == 2010]

# Count the number of tweets sent in 2010
num_tweets_2010 = tweets_2010.shape[0]

# Display the filtered tweets and the count
print("Tweets sent in 2010:")
print(tweets_2010)
print("\nNumber of tweets sent in 2010:", num_tweets_2010)

Tweets sent in 2010:
        Unnamed: 0          created_at  \
21404        21404 2010-12-22 23:35:00
21405        21405 2010-12-20 19:59:00
21406        21406 2010-12-17 22:47:00
21407        21407 2010-12-17 20:24:00
21408        21408 2010-12-17 01:01:00
...            ...                 ...
258626      258626 2010-01-08 23:07:00
258627      258627 2010-01-08 22:42:00
258628      258628 2010-01-08 22:33:00
258629      258629 2010-01-08 19:43:00
258630      258630 2010-01-07 19:40:00

                                                     text  \
21404   I hope Congress will decide to permanently "Fl...
21405   We ought to deck the halls of Congress with so...
21406   Introduced a bill today to repeal the extensio...
21407   As the son of Ham, Canaan probably knew someth...
21408   The tax package is a bad deal for taxpayers. h...
...                                                   ...
258626  Stabenow Praises President Obamaäó»s Announcem...
258627  Stabenow, Levin Announce More Than $260 Millio...
258628  Stabenow, Levin Announce Two Michigan Students...
258629  Stabenow Introduces Resolution to Stop Japanes...
258630  Stabenow Applauds Opening of GM Battery Pack P...

                                                      url  replies  retweets  \
21404   https://twitter.com/JeffFlake/status/177250423...        0         4
21405   https://twitter.com/JeffFlake/status/169459236...        0         5
21406   https://twitter.com/JeffFlake/status/159008661...        0        10
21407   https://twitter.com/JeffFlake/status/158648971...        0         2
21408   https://twitter.com/JeffFlake/status/155722007...        0         5
...                                                   ...      ...       ...
258626  https://twitter.com/SenStabenow/status/7536061357        0         0
258627  https://twitter.com/SenStabenow/status/7535265024        0         0
258628  https://twitter.com/SenStabenow/status/7534948386        0         0
258629  https://twitter.com/SenStabenow/status/7530068567        0         1
258630  https://twitter.com/SenStabenow/status/7489620323        0         0

        favorites         user bioguide_id party state  CharCount
21404           0    JeffFlake     F000444     R    AZ         97
21405           0    JeffFlake     F000444     R    AZ         85
21406           0    JeffFlake     F000444     R    AZ        128
21407           1    JeffFlake     F000444     R    AZ         80
21408           0    JeffFlake     F000444     R    AZ         63
...           ...          ...         ...   ...   ...        ...
258626          0  SenStabenow     S000770     D    MI        136
258627          0  SenStabenow     S000770     D    MI        115
258628          0  SenStabenow     S000770     D    MI        106
258629          0  SenStabenow     S000770     D    MI        107
258630          0  SenStabenow     S000770     D    MI        105

[921 rows x 12 columns]

Number of tweets sent in 2010: 921

In [ ]:
# Convert the 'Date' column to datetime format
df['created_at'] = pd.to_datetime(df['created_at'])

# Extract the month and add it as a new column 'MonthSent'
df['MonthSent'] = df['created_at'].dt.month

# Display the updated dataset
print(df)

        Unnamed: 0          created_at  \
0                0 2017-10-19 21:47:00
1                1 2017-10-19 18:48:00
2                2 2017-10-19 18:14:00
3                3 2017-10-19 18:04:00
4                4 2017-10-19 16:33:00
...            ...                 ...
288610      288610 2015-07-28 15:33:00
288611      288611 2015-07-28 15:32:00
288612      288612 2015-07-27 17:34:00
288613      288613 2015-07-27 17:30:00
288614      288614 2015-07-26 17:15:00

                                                     text  \
0       We released bipartisan healthcare bill today &...
1       I spoke with @Morning_Joe team abt #HonestAds ...
2       Lots of interest in my bill with Senators Warn...
3       Today's the day @MarkWarner, @SenJohnMcCain &a...
4       .@MarkWarner, @SenJohnMcCain &amp; I put toget...
...                                                   ...
288610  Such a zone would allow the flow of unfettered...
288611  I welcome greater cooperation between the U.S....
288612  Educacií_n sobre la prevencií_n del abuso sexu...
288613  Education on sexual assault prevention should ...
288614  25 years since passage, the ADA has helped ens...

                                                      url  replies  retweets  \
0       https://twitter.com/amyklobuchar/status/921130...       21       129
1       https://twitter.com/amyklobuchar/status/921085...        8        46
2       https://twitter.com/amyklobuchar/status/921077...       36       227
3       https://twitter.com/amyklobuchar/status/921074...       17       167
4       https://twitter.com/amyklobuchar/status/921051...       31       279
...                                                   ...      ...       ...
288610  https://twitter.com/timkaine/status/6260527578...        0         4
288611  https://twitter.com/timkaine/status/6260526304...        2         7
288612  https://twitter.com/timkaine/status/6257210135...        0         1
288613  https://twitter.com/timkaine/status/6257198751...        4         5
288614  https://twitter.com/timkaine/status/6253537947...        1        13

        favorites          user bioguide_id party state  CharCount  MonthSent
0             533  amyklobuchar     K000367     D    MN        112         10
1             150  amyklobuchar     K000367     D    MN        143         10
2             932  amyklobuchar     K000367     D    MN        116         10
3             550  amyklobuchar     K000367     D    MN        150         10
4             893  amyklobuchar     K000367     D    MN        141         10
...           ...           ...         ...   ...   ...        ...        ...
288610          1      timkaine     K000384     D    VA        143          7
288611          2      timkaine     K000384     D    VA        139          7
288612          0      timkaine     K000384     D    VA        142          7
288613          1      timkaine     K000384     D    VA        136          7
288614         17      timkaine     K000384     D    VA        137          7

[288615 rows x 13 columns]

In [ ]:
# Convert the 'Date' column to datetime format
df['created_at'] = pd.to_datetime(df['created_at'])

# Extract the month and add it as a new column 'MonthSent'
df['MonthSent'] = df['created_at'].dt.month

# Group by 'MonthSent' and count the number of tweets in each month
monthly_tweet_counts = df.groupby('MonthSent').size().reset_index(name='TweetCount')

# Find the month with the most tweets
most_tweets_month = monthly_tweet_counts.loc[monthly_tweet_counts['TweetCount'].idxmax()]

# Display the monthly tweet counts and the month with the most tweets
print("Monthly Tweet Counts:")
print(monthly_tweet_counts)

print("\nThe month with the most tweets is:")
print(most_tweets_month)

Monthly Tweet Counts:
    MonthSent  TweetCount
0           1       22600
1           2       22795
2           3       28666
3           4       24896
4           5       27101
5           6       29794
6           7       27456
7           8       22527
8           9       30157
9          10       22420
10         11       14932
11         12       15271

The month with the most tweets is:
MonthSent         9
TweetCount    30157
Name: 8, dtype: int64

In [ ]:
# Use the str.split() method to split the 'Tweet' column into words and count them
df['WordCount'] = df['text'].str.split().apply(len)

# Display the updated dataset
print(df)

        Unnamed: 0          created_at  \
0                0 2017-10-19 21:47:00
1                1 2017-10-19 18:48:00
2                2 2017-10-19 18:14:00
3                3 2017-10-19 18:04:00
4                4 2017-10-19 16:33:00
...            ...                 ...
288610      288610 2015-07-28 15:33:00
288611      288611 2015-07-28 15:32:00
288612      288612 2015-07-27 17:34:00
288613      288613 2015-07-27 17:30:00
288614      288614 2015-07-26 17:15:00

                                                     text  \
0       We released bipartisan healthcare bill today &...
1       I spoke with @Morning_Joe team abt #HonestAds ...
2       Lots of interest in my bill with Senators Warn...
3       Today's the day @MarkWarner, @SenJohnMcCain &a...
4       .@MarkWarner, @SenJohnMcCain &amp; I put toget...
...                                                   ...
288610  Such a zone would allow the flow of unfettered...
288611  I welcome greater cooperation between the U.S....
288612  Educacií_n sobre la prevencií_n del abuso sexu...
288613  Education on sexual assault prevention should ...
288614  25 years since passage, the ADA has helped ens...

                                                      url  replies  retweets  \
0       https://twitter.com/amyklobuchar/status/921130...       21       129
1       https://twitter.com/amyklobuchar/status/921085...        8        46
2       https://twitter.com/amyklobuchar/status/921077...       36       227
3       https://twitter.com/amyklobuchar/status/921074...       17       167
4       https://twitter.com/amyklobuchar/status/921051...       31       279
...                                                   ...      ...       ...
288610  https://twitter.com/timkaine/status/6260527578...        0         4
288611  https://twitter.com/timkaine/status/6260526304...        2         7
288612  https://twitter.com/timkaine/status/6257210135...        0         1
288613  https://twitter.com/timkaine/status/6257198751...        4         5
288614  https://twitter.com/timkaine/status/6253537947...        1        13

        favorites          user bioguide_id party state  CharCount  MonthSent  \
0             533  amyklobuchar     K000367     D    MN        112         10
1             150  amyklobuchar     K000367     D    MN        143         10
2             932  amyklobuchar     K000367     D    MN        116         10
3             550  amyklobuchar     K000367     D    MN        150         10
4             893  amyklobuchar     K000367     D    MN        141         10
...           ...           ...         ...   ...   ...        ...        ...
288610          1      timkaine     K000384     D    VA        143          7
288611          2      timkaine     K000384     D    VA        139          7
288612          0      timkaine     K000384     D    VA        142          7
288613          1      timkaine     K000384     D    VA        136          7
288614         17      timkaine     K000384     D    VA        137          7

        WordCount
0              15
1              18
2              18
3              18
4              22
...           ...
288610         23
288611         24
288612         19
288613         16
288614         21

[288615 rows x 14 columns]

In [ ]:
# Calculate the word count for each tweet and add it as a new column 'WordCount'
df['WordCount'] = df['text'].str.split().apply(len)

# Group the dataset by 'State' and calculate the average word count for tweets in each state
average_word_count_by_state = df.groupby('state')['WordCount'].mean().reset_index()

# Find the state with the highest average word count
state_with_longest_tweets = average_word_count_by_state.loc[average_word_count_by_state['WordCount'].idxmax()]

# Display the average word count by state and the state with the longest tweets
print("Average Word Count by State:")
print(average_word_count_by_state)

print("\nThe state with the longest tweets on average is:")
print(state_with_longest_tweets)

Average Word Count by State:
   state  WordCount
0     AK  18.461476
1     AL  17.194898
2     AR  16.330014
3     AZ  16.470514
4     CA  18.476625
5     CO  18.067881
6     CT  17.717878
7     DE  18.558420
8     FL  16.607569
9     GA  17.071806
10    HI  17.588775
11    IA  16.099855
12    ID  17.240375
13    IL  18.621739
14    IN  17.648896
15    KS  17.823877
16    KY  16.305964
17    LA  16.590269
18    MA  19.125348
19    MD  18.423308
20    ME  16.962596
21    MI  17.678361
22    MN  19.299704
23    MO  18.076516
24    MS  17.104391
25    MT  16.922718
26    NC  16.512111
27    ND  18.883594
28    NE  16.995086
29    NH  17.437365
30    NJ  17.394551
31    NM  18.467635
32    NV  17.741489
33    NY  19.549318
34    OH  18.330598
35    OK  17.054273
36    OR  17.896144
37    PA  17.398602
38    RI  18.270295
39    SC  16.468452
40    SD  17.275528
41    TN  17.408738
42    TX  16.116937
43    UT  16.959609
44    VA  17.939366
45    VT  19.297899
46    WA  18.955212
47    WI  16.176856
48    WV  18.210803
49    WY  17.937732

The state with the longest tweets on average is:
state               NY
WordCount    19.549318
Name: 33, dtype: object