<a href="https://colab.research.google.com/github/anarchy373/BTECH-Python-Projects/blob/main/Python_Module_6_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('laptops.csv')

In [ ]:
df.shape

(1322, 20)

In [ ]:
df.head()

,Company,TypeName,Inches,screen_resolution,has_ips_panel,is_touchscreen,resolution_width,resolution_height,cpu_brand,cpu_name,cpu_speed,Ram,memory_type,primary_storage,gpu_brand,gpu_name,OpSys,Weight,Price,total_pixels
0,NaN,Ultrabook,13.3,NaN,1,0,1600.0,2560,Intel,Core i5,2.3,8.0,SSD,128,Intel,Iris Plus Graphics 640,NaN,1.4,71379,4096000
1,Apple,Ultrabook,13.3,NaN,0,0,900.0,1440,Intel,Core i5,1.8,8.0,NaN,128,Intel,HD Graphics 6000,macos,1.3,47896,1296000
2,HP,Notebook,15.6,Full HD,0,0,1080.0,1920,Intel,Core i5,2.5,8.0,NaN,256,Intel,HD Graphics 620,NaN,1.9,30636,2073600
3,Apple,Ultrabook,15.4,NaN,1,0,1800.0,2880,Intel,Core i7,2.7,16.0,NaN,512,AMD,Radeon Pro 455,macos,1.8,135195,5184000
4,Apple,Ultrabook,13.3,NaN,1,0,1600.0,2560,Intel,Core i5,3.1,8.0,SSD,256,Intel,Iris Plus Graphics 650,macos,1.4,96096,4096000

In [ ]:
null_flags = df.isna()
columns_with_nulls = null_flags.any(axis=0)
num_columns_with_nulls = columns_with_nulls.sum()

print(f"Number of columns with at least one null value: {num_columns_with_nulls}")

Number of columns with at least one null value: 7

In [ ]:
# Drop rows with at least one null value
df_cleaned = df.dropna()

# Get the number of rows left
num_rows_left = len(df_cleaned)

print(f"Number of rows after dropping rows with null values: {num_rows_left}")

Number of rows after dropping rows with null values: 193

In [ ]:
import pandas as pd
df = pd.read_csv('laptops.csv')

null_counts = df.isnull().sum()
column_with_most_nulls = null_counts.idxmax()

print(f"The column with the most null values is '{column_with_most_nulls}' with {null_counts[column_with_most_nulls]} null values.")

The column with the most null values is 'memory_type' with 932 null values.

In [ ]:
numeric_summary = df.describe()

# This will generate summary statistics for all numerical columns in the DataFrame
print(numeric_summary)

            Inches  has_ips_panel  is_touchscreen  resolution_width  \
count  1322.000000    1322.000000     1322.000000       1216.000000
mean     15.122542       0.281392        0.146747       1074.299342
std       1.945084       0.449848        0.353988        286.711732
min      10.100000       0.000000        0.000000        768.000000
25%      14.000000       0.000000        0.000000        900.000000
50%      15.600000       0.000000        0.000000       1080.000000
75%      15.600000       1.000000        0.000000       1080.000000
max      35.600000       1.000000        1.000000       2160.000000

       resolution_height    cpu_speed          Ram  primary_storage  \
count        1322.000000  1322.000000  1243.000000      1322.000000
mean         1895.639939     2.301664     9.198713       396.865356
std           494.741031     0.507130     7.031441       419.775480
min          1366.000000     0.900000     1.000000     -2048.000000
25%          1600.000000     2.000000     4.000000       256.000000
50%          1920.000000     2.500000     8.000000       256.000000
75%          1920.000000     2.700000     8.000000       512.000000
max          3840.000000     3.600000    80.000000      2048.000000

            Weight         Price  total_pixels
count  1249.000000  1.322000e+03  1.322000e+03
mean      2.078383  5.838318e+04  2.170972e+06
std       0.796887  5.045083e+04  1.393255e+06
min       0.000000 -1.427900e+05  1.049088e+06
25%       1.500000  3.118475e+04  1.440000e+06
50%       2.000000  5.109600e+04  2.073600e+06
75%       2.300000  7.863225e+04  2.073600e+06
max      11.100000  1.016580e+06  8.294400e+06

In [ ]:
# Replace negative values with their absolute values
df['primary_storage'] = df['primary_storage'].abs()

# Calculate the average amount of primary storage
average_storage = df['primary_storage'].mean()

print(f"The average amount of primary storage in a laptop is {average_storage} units.")

The average amount of primary storage in a laptop is 447.5824508320726 units.

In [ ]:
# Calculate the average price in USD
average_price_usd = df['Price'].mean()

print(f"The average price of a laptop in USD is {average_price_usd:.2f} USD.")

The average price of a laptop in USD is 58383.18 USD.

In [ ]:
# Impute missing resolution_width values
df['resolution_width'].fillna(df['total_pixels'] / df['resolution_height'], inplace=True)

# Calculate the average resolution width
average_resolution_width = df['resolution_width'].mean()

print(f"The average resolution width of a laptop is {average_resolution_width:.2f} pixels.")

The average resolution width of a laptop is 1071.43 pixels.

In [ ]:
# Drop the "memory_type" column if it contains null values
df.dropna(subset=['memory_type'], inplace=True)

# Drop all rows with null values in any column
df_without_nulls = df.dropna()

# Count the number of rows left
rows_left = len(df_without_nulls)

print(f"After dropping the 'memory_type' column with null values, {rows_left} rows are left.")

After dropping the 'memory_type' column with null values, 193 rows are left.

In [ ]:
unique_values = df['Company'].unique()
print(unique_values)

[nan 'Apple' 'acer' 'Acer' 'hp' 'Lenovo' 'Dell' 'HP' 'dell' 'MSI' 'Asus'
 'asus' 'microsoft' 'lenovo' 'msi' 'Toshiba' 'toshiba' 'samsung'
 'Mediacom' 'Razer' 'Microsoft' 'Vero' 'Fujitsu' 'Samsung']

In [ ]:
# Standardize capitalization of the 'Company' column using .str.title()
df['Company'] = df['Company'].str.title()

# Count the number of computers from the company 'Apple'
apple_computers_count = (df['Company'] == 'Apple').sum()

# Print the result
print(f'Number of computers from Apple: {apple_computers_count}')

Number of computers from Apple: 6

In [ ]:
import numpy as np
df = pd.read_csv('laptops.csv')

# Calculate the z-scores for the 'Price' column
z_scores = np.abs((df['Price'] - df['Price'].mean()) / df['Price'].std())

# Create a filter to identify outliers with a z-score greater than 3
outlier_filter = z_scores > 3

# Get the count of outliers
outlier_count = outlier_filter.sum()

# Print the outliers and the count
print("Outliers:")
print(df[outlier_filter])
print(f"\nNumber of outliers: {outlier_count}")

Outliers:
     Company            TypeName  Inches screen_resolution  has_ips_panel  \
189    Razer              Gaming    17.3       4k Ultra HD              0
595      NaN            Notebook    15.6       4k Ultra HD              1
612     Asus           Ultrabook    14.0           Full HD              0
673       hp         Workstation    17.3           Full HD              0
709     Acer              Gaming    17.3           Full HD              1
727       hp         Workstation    17.3           Full HD              1
765     dell              Gaming    15.6           Full HD              0
771   Lenovo  2 in 1 Convertible    14.0               NaN              1
806    Razer              Gaming    17.3       4k Ultra HD              0
1025    Dell           Ultrabook    13.3         Quad HD +              0
1036     NaN              Gaming    17.3           Full HD              1
1106      hp         Workstation    17.3           Full HD              1
1172    Dell           Ultrabook    13.3         Quad HD +              0
1212    Dell  2 in 1 Convertible    17.3           Full HD              0

      is_touchscreen  resolution_width  resolution_height cpu_brand  \
189                1            2160.0               3840     Intel
595                0            2160.0               3840     Intel
612                0            1080.0               1920     Intel
673                0            1080.0               1920     Intel
709                0               NaN               1920     Intel
727                0            1080.0               1920     Intel
765                0            1080.0               1920     Intel
771                1            1440.0               2560     Intel
806                1            2160.0               3840     Intel
1025               1            1800.0               3200     Inetl
1036               0               NaN               1920     Intel
1106               0            1080.0               1920     Intel
1172               1            1800.0               3200     Intel
1212               1            1080.0               1920     Intel

           cpu_name  cpu_speed   Ram memory_type  primary_storage gpu_brand  \
189         Core i7        2.9  32.0         NaN            -1024    Nvidia
595   Xeon E3-1535M        3.1  32.0         NaN             1024    Nvidia
612         Core i7        2.7  16.0         SSD              512     Intel
673         Core i7        2.8   8.0         NaN              500    Nvidia
709         Core i7        2.6   NaN         NaN              128    Nvidia
727   Xeon E3-1535M        2.9  16.0         NaN              256    Nvidia
765         Core i5        2.5   8.0         NaN              256    Nvidia
771         Core i5        2.5   8.0         SSD              256     Intel
806         Core i7        2.9  32.0         NaN              512    Nvidia
1025        Core i7        2.7  40.0         NaN             1024     Intel
1036        Core i7        2.7  64.0         NaN             1024    Nvidia
1106        Core i7        2.6   8.0         SSD              256    Nvidia
1172        Core i7        2.7  16.0         NaN              512     Intel
1212        Core i7        2.7  16.0         NaN              512    Nvidia

               gpu_name    OpSys  Weight    Price  total_pixels
189    GeForce GTX 1080  windows     3.5   324955       8294400
595       Quadro M2200M      NaN     2.5   261019       8294400
612     HD Graphics 620  windows    11.1  -101232       2073600
673        Quadro M1200  windows     3.1  1016580       2073600
709    GeForce GTX 1060  windows     4.2  -103097       2073600
727       Quadro M2000M  windows     3.0   233846       2073600
765    GeForce GTX 1050  windows     2.6   524810       2073600
771     HD Graphics 620  windows     1.4  -124142       3686400
806    GeForce GTX 1080  windows     3.5   292987       8294400
1025    HD Graphics 620  windows     1.2  -120093       5760000
1036   GeForce GTX 980       NaN     3.6   211788       2073600
1106      Quadro M3000M  windows     3.0   210424       2073600
1172    HD Graphics 620  windows     1.2  -142790       5760000
1212      GeForce 940MX  windows     2.8   -95851       2073600

Number of outliers: 14

In [ ]:
df = pd.read_csv('laptops.csv')

# Drop duplicates based on the specified subset of columns
subset_columns = ['Company', 'cpu_name', 'gpu_name', 'total_pixels', 'Ram']
df_no_duplicates = df.drop_duplicates(subset=subset_columns)

# Count the rows in the resulting DataFrame
row_count = len(df_no_duplicates)

# Print the resulting DataFrame and the number of rows
print("DataFrame without duplicates:")
print(df_no_duplicates)
print(f"\nNumber of rows left: {row_count}")

DataFrame without duplicates:
     Company            TypeName  Inches screen_resolution  has_ips_panel  \
0        NaN           Ultrabook    13.3               NaN              1
1      Apple           Ultrabook    13.3               NaN              0
2         HP            Notebook    15.6           Full HD              0
3      Apple           Ultrabook    15.4               NaN              1
4      Apple           Ultrabook    13.3               NaN              1
...      ...                 ...     ...               ...            ...
1301     NaN           Ultrabook    15.6           Full HD              1
1312  Lenovo  2 in 1 Convertible    13.3         Quad HD +              1
1315      hp           Ultrabook    15.6           Full HD              0
1320     NaN            Notebook    15.6           Full HD              0
1321    Dell              Gaming    15.6           Full HD              0

      is_touchscreen  resolution_width  resolution_height cpu_brand cpu_name  \
0                  0            1600.0               2560     Intel  Core i5
1                  0             900.0               1440     Intel  Core i5
2                  0            1080.0               1920     Intel  Core i5
3                  0            1800.0               2880     Intel  Core i7
4                  0            1600.0               2560     Intel  Core i5
...              ...               ...                ...       ...      ...
1301               0            1080.0               1920     Intel  Core i5
1312               1            1800.0               3200     Intel  Core i7
1315               0            1080.0               1920     Ietnl  Core i7
1320               0            1080.0               1920     Itenl  Core i5
1321               0            1080.0               1920     Intel  Core i7

      cpu_speed   Ram memory_type  primary_storage gpu_brand  \
0           2.3   8.0         SSD              128     Intel
1           1.8   8.0         NaN              128     Intel
2           2.5   8.0         NaN              256     Intel
3           2.7  16.0         NaN              512       AMD
4           3.1   8.0         SSD              256     Intel
...         ...   ...         ...              ...       ...
1301        1.6   NaN         NaN              256     Intel
1312        2.5  16.0         NaN              512     Intel
1315        2.5   NaN         SSD              256       AMD
1320        2.6  20.0         NaN              256       AMD
1321        2.8  40.0         NaN              128    Nvidia

                     gpu_name    OpSys  Weight   Price  total_pixels
0      Iris Plus Graphics 640      NaN     1.4   71379       4096000
1            HD Graphics 6000    macos     1.3   47896       1296000
2             HD Graphics 620      NaN     1.9   30636       2073600
3              Radeon Pro 455    macos     1.8  135195       5184000
4      Iris Plus Graphics 650    macos     1.4   96096       4096000
...                       ...      ...     ...     ...           ...
1301         UHD Graphics 620      NaN     1.9   58403       2073600
1312          HD Graphics 520  windows     1.3   79867       5760000
1315          Radeon R7 M365X  windows     1.8   69104       2073600
1320           Radeon R7 M465      NaN     1.8   71875       2073600
1321      GeForce GTX 1050 Ti  windows     2.6   71875       2073600

[864 rows x 20 columns]

Number of rows left: 864